<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Hurricane Harvey</title>
  <!-- Leaflet CSS -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin="" />
  <!-- Our CSS -->
  <link rel="stylesheet" type="text/css" href="static/css/style.css">
</head>
<body>
  <!-- The div that holds our map -->
  <div id="map"></div>
  <img src="https://img.icons8.com/color/48/000000/flood-car.png"/>
  <img src="https://img.icons8.com/material-rounded/48/4a90e2/hurricane.png"/>
  <!-- Leaflet JS -->
  <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
  <script src="/static/js/leaflet.geocsv.js"></script>
  <!-- D3 JavaScript -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
  <a href="http://jquery.com/">jQuery</a>
  <script src="/static/js/"></script>
  <!-- API key -->
  <script type="text/javascript" src="static/js/config.js"></script>
  <!-- Our JavaScript -->
  <script type="text/javascript" src="static/js/logic.js"></script>
</body>
</html>

<a href="https://coast.noaa.gov/hurricanes/#map=3.12/26.28/-71.7&search=eyJzZWFyY2hTdHJpbmciOiJIQVJWRVkgMjAxNyIsInNlYXJjaFR5cGUiOiJuYW1lIiwibWF0Y2giOiJleGFjdCIsImNhdGVnb3JpZXMiOlsiSDUiLCJINCIsIkgzIiwiSDIiLCJIMSIsIlRTIiwiVEQiLCJFVCJdLCJ5ZWFycyI6W10sIm1vbnRocyI6W10sImVuc28iOltdLCJwcmVzc3VyZSI6eyJyYW5nZSI6WzAsMTE1MF0sImluY2x1ZGVVbmtub3duUHJlc3N1cmUiOnRydWV9LCJidWZmZXJVbml0IjpbIk1pbGVzIl0sInNvcnRTZWxlY3Rpb24iOnsidmFsdWUiOiJ5ZWFyc19uZXdlc3QiLCJsYWJlbCI6IlllYXIgKE5ld2VzdCkifSwiYXBwbHlUb0FPSSI6ZmFsc2UsImlzU3Rvcm1MYWJlbHNWaXNpYmxlIjp0cnVlfQ==">National Oceanic and Atmospheric Administration</a>
<a href="https://icons8.com/icon/54gBpMx6Fs4V/flood-car">Flood Car icon by Icons8</a>

