<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <title>HurricaneModel</title>
    <script src="https://d3js.org/d3.v4.min.js"></script>
  <!-- Bring in our bootstrap stylesheet -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

  <!-- jQuery and JS bundle w/ Popper.js -->
  <!-- https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js -->

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/model.css">
  <!--Leaflet CSS-->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
      integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
      crossorigin="" />
    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="static/css/mapstyle.css">

</head> 

<body>
  <header>  
    <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light trn">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Group 12</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link nav-link-ltr" href="/">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-ltr" href="/team">Team</a>
              </li>
             
              <li class="nav-item">
                <a class="nav-link nav-link-ltr" href="/charts">Model</a>
              </li>
    
              <li class="nav-item">
                <a class="nav-link nav-link-ltr" href="/map1">something</a>
              </li>
              <li class="nav-item">
                <a class="nav-link nav-link-ltr" href="/map2">something</a>
              </li>
            
          </ul>
        </div>
      </div>
    </nav>  
  </header>

  <body>
    <!-- The div that holds our map -->
    <div id="map"></div>
    <img src="https://img.icons8.com/color/48/000000/flood-car.png"/>
    <img src="https://img.icons8.com/material-rounded/48/4a90e2/hurricane.png"/>
    <!-- Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
      integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
      crossorigin=""></script>
    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    <!-- API key -->
    <script type="text/javascript" src="static/js/config.js"></script>
    <!-- Our JavaScript -->
    <script type="text/javascript" src="static/js/logicmap.js"></script>
  </body>
  
  <a href="https://coast.noaa.gov/hurricanes/#map=3.12/26.28/-71.7&search=eyJzZWFyY2hTdHJpbmciOiJIQVJWRVkgMjAxNyIsInNlYXJjaFR5cGUiOiJuYW1lIiwibWF0Y2giOiJleGFjdCIsImNhdGVnb3JpZXMiOlsiSDUiLCJINCIsIkgzIiwiSDIiLCJIMSIsIlRTIiwiVEQiLCJFVCJdLCJ5ZWFycyI6W10sIm1vbnRocyI6W10sImVuc28iOltdLCJwcmVzc3VyZSI6eyJyYW5nZSI6WzAsMTE1MF0sImluY2x1ZGVVbmtub3duUHJlc3N1cmUiOnRydWV9LCJidWZmZXJVbml0IjpbIk1pbGVzIl0sInNvcnRTZWxlY3Rpb24iOnsidmFsdWUiOiJ5ZWFyc19uZXdlc3QiLCJsYWJlbCI6IlllYXIgKE5ld2VzdCkifSwiYXBwbHlUb0FPSSI6ZmFsc2UsImlzU3Rvcm1MYWJlbHNWaXNpYmxlIjp0cnVlfQ==">National Oceanic and Atmospheric Administration</a>
  <a href="https://icons8.com/icon/54gBpMx6Fs4V/flood-car">Flood Car icon by Icons8</a>
  

    

  <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script src="https://d3js.org/d3.v5.min.js"></script>
  <script src="https://d3js.org/d3-queue.v3.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
  <script src="../static/js/model1.js"></script>
  <script src="https://d3js.org/d3-dispatch.v2.min.js"></script>
 <script src="https://d3js.org/d3-quadtree.v2.min.js"></script>
 <script src="https://d3js.org/d3-timer.v2.min.js"></script>
 <script src="https://d3js.org/d3-force.v2.min.js"></script>


</body>

</html>
